################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/VRCPhotoRotationCorrector/bin
/VRCPhotoRotationCorrector/obj
/.vs/VRCPhotoRotationCorrector/v16
