################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/VRCPhotoRotationCorrector/bin
/VRCPhotoRotationCorrector/obj
/VRCPhotoRotationCorrector/*.user
/VRCPhotoRotationCorrector/*.pfx
/.vs/VRCPhotoRotationCorrector/v16
